body {
    font-family: Arial, sans-serif;
    background: #1d3c3c;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: rgba(210, 180, 100, 200);
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    gap: 10px;
    justify-content: center;
}

.element {
    border: 1px solid #333;
    padding: 10px;
    padding-left: 5px;
    font-size: 12px;
    background: white;
    border-radius: 5px;
}

.element:hover{
    background-color: yellowgreen;
    transform: scale(1.2);
    transition: 0.5s;
}

.alkali-metal { background: #ff6666; }
.alkaline-earth { background: #ffdead; }
.transition { background: #ffc0cb; }
.post-transition { background: #cccccc; }
.metalloid { background: #adff2f; }
.nonmetal { background: #90ee90; }
.halogen { background: #87cefa; }
.noble-gas { background: #dda0dd; }
.lanthanide { background: #ffbfff; }
.actinide { background: #ff99cc; }
